/* CSS Syntax requirements */

/* A Selector */
/* Property */
/* Values */

/* 
Selector {
    property: Value;
 }
  */

/*RGB (A)  */
/* p{
    color: rgba(255, 255, 25, 1);
    background-color: black;
 } */

/* HSL (A) */
/* Hue, Saturation & Lightness */
